.shipping-map-points {
  @include mq(tablet) {
    overflow:auto;
    height:60vh;
  }
}

.shipping-title {
  font-size: 1.2em;
  @include mq(tablet) {
    font-size: 2em;
  }
}

.shipping-subtitle {
  font-size: 1em;
  @include mq(tablet) {
    font-size: 1.5em;
  }
}