.autocomplete {
  position: relative;
  & input {
    outline: none;
  }

  & .chip {
    border-radius: 2em;
    padding: 0.3em 0.7em;
    color: white !important;
    background-color: #a1a1a1;
    float: left;
    margin-right: 5px;
  }
}

.autocomplete-dropdown {
  z-index: 10;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 16em;
  max-width: 100vw;
  max-height: 75vh;
  overflow: auto;
  background-color: color(white);
  color: color(dark);
  line-height: 1.5em;
  text-align: left;
  opacity: 0;
  box-shadow: shadow(xsmall);

  &:focus,
  &:active,
  &:hover,
  &.is-active > &,
  *:focus > &,
  *:active > &,
  *:hover > &,
  *:focus ~ &,
  *.is-active > & {
    opacity: 1;
    transition: transition();
    display: block;
  }

  

  & .item:hover,
  & .item.is-active {
    background-color: color(success);
  }
}

.autocomplete-sports{
  & .autocomplete-dropdown {
    max-height:50vh;
    & .card{
      & .item{
        padding: 0.5em !important;
      }
    }
  }
}
