.accordion {
  & .glide--thumbs {
    & .glide__track {
      height:5em;
      & img {
        height:5em;
      }
    }
  }
  & .glide--viewer {
    & .glide__track {
      max-height:15em;
      & img {
        max-height:15em;
      }
    }
  }
}