.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  min-width: 100%;
  max-width: 100vw;
  max-height: 75vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: color(white);
  color: color(dark);
  line-height: 1.5em;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  box-shadow: shadow(xsmall);

  &:focus,
  &:active,
  &:hover,
  &.is-active > &,
  *:focus > &,
  *:active > &,
  *:hover > &,
  *.is-active > & {
    opacity: 1;
    visibility: visible;
    transition: transition();
  }
}