.map {
  width: 100%;
  min-height: 60vh;
  display:none;
  z-index:1;
  font-size: 1em;
  background-color: color(gray);
  background-color: fade-out(color(black), 0.9);

  .leaflet-marker-icon i {
    position: absolute;
    bottom: -100%;
    left: 50%;
    font-size: 2.5em;
    transform: translate3d(-50%, 0, 0);
    color: color(dark);
    text-shadow: 0 0 0.05em color(white);
    transition: transition();
  }

  .leaflet-marker-icon:hover i {
    font-size: 2.75em;
  }

  .leaflet-marker-icon.is-active i {
    color: color(warning);
    font-size: 3em;
    text-shadow: 0 0 0.2em color(dark);
  }

  @include mq(tablet) {
    display:block;
  }
}