.ui_select {  
  .input-status {
    position: absolute;
    z-index: 5;
    top: 8px;
    right: 8px;
  }

  button {
    width: 100%;
    text-align: left;
  }

  .select {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    width: 100%;
  }

  .select--multiple {
    z-index: -1;
  }

  .ui_select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    max-height: 0;
    overflow: auto;
  
    &:focus,
    &:hover,
    &:active,
    .select:focus ~ &,
    button:active ~ &,
    button:focus ~ &,
    input:active ~ &,
    input:focus ~ & {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease;
      max-height: 20em;
    }
  }
}
